extend ../base.pug

block content 

    main.template(data-template="home")
        .container(data-smoothscroll)
            .home
                .home_wrapper
                    section.home_text 
                        p| Wellcome to my boilerplate project. 
                        p| Make yourself comfy and start to work :)