block variables

doctype html
html(lang="en")
    head
        include ./partials/head

    body
        include ./partials/preloader
        include ./partials/navigation
        
    section.content(data-smoothscroll="container" data-template="home")
        main(data-smoothscroll="content")
            section.home
                .home_wrapper
                    .home_text 
                        p| Wellcome to my boilerplate project. 
                        p| Make yourself comfy and start to work :)
                        
            


