%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

%flex-justify {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        align-items: flex-start;

    }
}

%fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


%abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%mt-40 {
    margin-top: 20rem;
}

%mb-3 {
    margin-bottom: 3rem;
}
%mb-sections {
    margin-bottom: 24rem;
}

%image-responsive {
    .case_figure {
        width: 100%;
        height: 100%;
    }
    .case_image {
        position: relative;
    }
}

%product_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%keyframes {
    @-webkit-keyframes anim {
        from {
            transform: translateY(101%);
        }
        to {
            transform: translateY(-101%);
        }
    }

    @keyframes anim {
        from {
            transform: translateY(101%);
        }
        to {
            transform: translateY(-101%);
        }
    }
}
