$font-scandium: 'Scandium';
$font-esPeak: 'esPeak';

%title-h1 {
    font-family: $font-scandium;
    font-size: 5.9rem;
    line-height: 7rem;
}

%title-h2 {
    font-family: $font-scandium;
    font-size: 4.9rem;
    line-height: 5.8rem;
}

%title-h3 {
    font-family: $font-scandium;
    font-size: 4.1rem;
    line-height: 4.9rem;
}

%parag {
    font-family: $font-esPeak;
    font-size: 2.4rem;
    line-height: 3rem;

    @media (max-width: $breakpoint-mobile) {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
}

%label {
    font-family: $font-esPeak;
    font-size: 2rem;
    line-height: 2.4rem;
}
