//? Color root
$cursor-fill: #ffffff9a;
$cursor-stroke: #ffffff;
$cursor-stroke-width: 1px;

$color-primary: #313131;
$color-secondary: #d4d7f7;
$color-alternate: #515258;

//? Easing
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
$easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);

//?Breakpoints
$breakpoint-bigScreen: 1920px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 769px;
$breakpoint-mobile: 500px;

:export {
    primary: $color-primary;
    secondary: $color-secondary;
}
