*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


html {
    font-size: calc(100vw / 1920 * 10);
    @media (max-width: $breakpoint-tablet) {
        font-size: calc(100vw / 769 * 10);
    }
}

body {
    background-color: $color-primary;
    color: $color-secondary;

    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}


canvas {
    pointer-events: none;
}

.transition,
.page-transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 6rem;
    grid-template-areas: 'left center right';
    @media (max-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: column;
    }
}

figure {
    background-color: $color-alternate;
}

img {
    display: block;
    width: 100%;
}
h1 {
    @extend %title-h1;
}

h2 {
    @extend %title-h2;
}

h3 {
    @extend %title-h3;
}

p,
li {
    @extend %parag;
}

span {
    @extend %label;
}

a {
    @extend %parag;
    color: inherit;
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    cursor: pointer;
}


@media (max-width: $breakpoint-tablet) {
    figure {
        width: 100% !important;
        height: 100% !important;
    }
    img {
        position: relative !important;
    }
}

.noise {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

	opacity: 0.1; // adjust me!
	z-index: 9999;

	pointer-events: none;
	user-select: none;
}

//? Hover line animation
.hover {
    position: relative;
    white-space: nowrap;
    &::before,
    &::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: currentColor;
        top: 100%;
        left: 0;
        pointer-events: none;
    }
    &::before {
        content: '';
    }
}
.hover--link {
    &::before {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
    }
    &:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
    }
}
.hover--case {
    &::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
        transition: transform 0.3s;
    }
    &:hover::before {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
    }
}

//? lazysize animation
.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 1s ease;
}

//? Utility
.is-mobile {
    display: none;
    @media (max-width :$breakpoint-mobile) {
        display: block;
    }
}

.is-desktop {
    display: block;
    @media (max-width :$breakpoint-mobile) {
        display: none;
    }
}

//? Slider component class
[data-slider] {
    cursor: pointer;
}
.slider-on {
    cursor: grab;
}
