@font-face {
    font-family: 'Scandium';
    src: url('../fonts/scandium-regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Scandium';
    src: url('../fonts/scandium-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'esPeak';
    src: url('../fonts/es-peak-regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'esPeak';
    src: url('../fonts/es-peak-regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
